
#content {
	width: 968px;
	margin-left: auto;
	margin-right: auto;
}


body {
	width: 968px;
	margin-left: auto;
	margin-right: auto;
}



nav ul li{
	list-style: none;
	float: left;
	color: black;
	text-transform: uppercase;
	font-family: Georgia;
	font-weight: 900;
	font-size: 16pt;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;

/*
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-bottom: 10px;
	padding-top: 10px;
*/

}

nav ul{
	text-align: center;
/*
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-bottom: 10px;
	padding-top: 10px;
*/

}

nav {
width: 968px;
height: 40px;
margin-top: 40px;
border-top: solid 2px black;
border-bottom: solid 2px black;
padding-bottom: 15px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;

}


p {
	font-family:Georgia;
	font-size: 11pt;
	line-height: 1.3em
}

h1 {
	font-family: Georgia;
	font-size: 14pt;
}


#logo {
	width: 445px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}


#cats {
	width: 465px;
	float: left;
}


/*picture----------------------------------*/
#cat {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 465px;
	height: 300px;
	float: left;
}


#dogs {
	width: 465px;
	float: right;
}

#dog {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 465px;
	height: 300px;
	float: right;
}