
@font-face {
    font-family: 'league_gothicCnRg';
    src: url('typefaces/leaguegothic-condensedregular-webfont.eot');
    src: url('typefaces/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('typefaces/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('typefaces/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('typefaces/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2{

font-family: 'league_gothicCnRg';
font-weight: normal;
font-style: normal;
font-size: 100pt;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 0px;


}

h3{
	
}

#vs{
color: grey;
font-family:Georgia; 
font-weight:bold; 
font-style:italic;
font-size: 50pt;
border-top: double 5px grey;
border-bottom: double 5px grey;
}

#content {
	width:100%; 
	margin:0 auto; 
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}


#logo {
	text-align: center;
	font-family:'league_gothicCnRg'; 
	width:100%; 
	margin:0 auto; 
	max-width: 968px;	
	height: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}


body {
	width:100%; 
	margin:0 auto; 
	max-width: 968px;	
	margin-left: auto;
	margin-right: auto;
}



nav ul li{
	list-style: none;
	float: left;
	color: black;
	text-transform: uppercase;
	font-family: Georgia;
	font-weight: 900;
	font-size: 16pt;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;

/*
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-bottom: 10px;
	padding-top: 10px;
*/

}

nav ul{
	text-align: center;
/*
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-bottom: 10px;
	padding-top: 10px;
*/

}


nav {
width:100%; 
margin:0 auto; 
max-width: 968px;
min-width: 240px;

height: 100%;
max-height: 100px;
min-height: 40px;


margin-left: auto;
margin-right: auto;

}


p {
	font-family:Georgia;
	font-size: 11pt;
	line-height: 1.3em
}

h1 {
	font-family: Georgia;
	font-size: 14pt;
}



#cats {
	width: 100%;
	float: left;
	max-width: 465px;
	min-width: 240px;
	margin:1%; 
	display: inline;
	padding-top: 15px;
}


/*picture----------------------------------*/
#cat {
	height: 100%;
	float: left;	
	width:100%; 
	margin:1%; 
	max-width: 465px;
	min-width: 240px;

}


#dogs {
	width:100%; 
	margin:0 auto; 
	max-width: 465px;
	float: left;
	display: inline;
	min-width: 240px;
	margin:1%; 
}

#dog {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 465px;
	height: 100%;
	float: right;
	margin:1%; 
}